.postHeading {
  color: rgb(41, 49, 57);
  margin-top: 20px;
  font-size: 36px;

  @media (min-width: 700px) {
    margin-top: 40px;
    font-size: 40px;
  }
}

.date {
  color: #666;
  display: block;
  margin-bottom: 40px;
}

.post {
  font-size: 20px;
  padding: 12px;
  margin: 0 auto 24px;
  max-width: 860px;
}

.post h2 {
  font-size: 32px;
}

.post h3 {
  margin-top: 8px;
  font-size: 28px;
}

.post h4 {
  font-size: 24px;
}

.post p,
.post table {
  margin: 1.2em 0px;
}

.post img {
  max-width: 100%;
}

.post a {
  color: #0a517b;
  text-decoration: none;
  border-bottom: 1px solid #0a517b;
}

.post a:hover,
.post a:focus {
  border-bottom: 1px dashed #0a517b;
  color: #0a517b;
  text-decoration: none;
}

.post ul {
  list-style-type: disc;
}
.post ul,
.post ol {
  margin: 1.2em 0 1.2em 2.3em;
}
.post blockquote {
  font-style: italic;
  padding: 0 3em;
}

.post th {
  border: 0;
  text-align: left;
}

.post td,
.post th {
  padding: 8px 20px 8px 0;
}

.post abbr {
  border-bottom: 2px dotted;
  text-decoration: none;
}

.post code {
  background: rgba(34, 34, 34, 0.14);
  border-radius: 10000px;
  padding: 4px 8px;
}

.post pre code {
  background: inherit;
  border-radius: inherit;
  padding: inherit;
}

.hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  height: 1px;
}

a.xLink {
  align-items: center;
  background-color: #f3f7fa;
  border: none;
  border-radius: 24px;
  color: #14171a;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  gap: 8px;
  padding: 12px 16px;
  text-decoration: none;
}
a.xLink:hover,
a.xLink:focus {
  background-color: #d3dce3;
  border: none;
  color: #14171a;
}
a.xLink:active {
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
}

.marginBottomTop {
  margin-bottom: 32px;
  margin-top: 32px;
}
