<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Christian Vuerings">
  <meta name="description" content="Random thoughts from Christian Vuerings. He is a front-end developer, passionate sailor and sailing instructor.">
  <meta name="keywords" content="Christian Vuerings, JavaScript, HTML, CSS, jQuery">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="p:domain_verify" content="63bac5af042f434eaaee3f9b0cc06132"/>

  <link rel="alternate" type="application/rss+xml" href="http://christianvuerings.com/atom.xml">
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="Main CSS">

  <title>{{ page.title }} - Christian Vuerings</title>
</head>
<body class="body">

  <div class="header">
    {% include header.html %}
  </div>

  <div class="content-container">
    {{ content }}
  </div>

  <div class="footer">
    {% include footer.html %}
  </div>

  <script>
    var _gaq=[['_setAccount','UA-190225-7'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>
