---
layout: default
---
{% include post_header.html %}
<div class="content">
  <div class="post">
    <div class="date">
      {{ page.date | date: "%B %e, %Y" }}
    </div>
    {{ content }}
  </div>

  <div class="twitterbutton">
    <a class="defaultlink" href="https://twitter.com/share?original_referer={{ site.url }}{{ page.url }}&amp;url={{ site.url }}{{ page.url }}&amp;text={{ page.title | replace: "&", "%26" }}&amp;via=christianvuerings" target="_blank">
      <i></i>
      <span class="twitterlabel">Tweet</span>
    </a>
  </div>
</div>
